
* {
	font-family: "Arial";
	font-size: 48pt;
	-webkit-user-select: none;
}

input {
	-webkit-user-select: text;
}

html {
	background-color: #333333;
}

body, #main {

	background-color: #222222;
}

canvas#pokeCanvas {
	border-radius: 5px;
	margin-left: auto;
	padding-top: 100px;
	margin-right: auto;
	display:block;
}
